#####################
# ignore exist dirs #
#####################

data
logs

##########################################
# ignore XAR files in add-xars directory #
##########################################

add-xars/*.xar
